@import "tailwindcss";

@theme {
  --color-monad-purple: #8338ec;
  --color-monad-blue: #3a86ff;
}

/* Custom utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #050505;
  color: white;
}
